Source: linux-show-player
Section: sound
Priority: optional
Maintainer: Josue Ortega <josue@debian.org>
Build-Depends:
 debhelper-compat (= 13),
 pybuild-plugin-pyproject,
 python3-all,
 python3-poetry-core,
 python3-setuptools
Standards-Version: 4.6.0
Homepage: https://linux-show-player.org
Vcs-Git: https://github.com/s0600204/linux-show-player.git
Vcs-Browser: https://github.com/s0600204/linux-show-player
Rules-Requires-Root: no

Package: linux-show-player
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, ${python3:Depends},
 python3-sortedcontainers,
 python3-mido,
 python3-rtmidi,
 python3-jack-client,
 python3-pyqt5,
 python3-gst-1.0
Description: Free cue player designed for sound-playback in stage productions
 Linux Show Player (or LiSP for short) is a free cue player designed for
 sound-playback in stage productions. The goal of the project is to provide a
 complete playback software for musical plays, theater shows and similar.
 Here a list of the main functionality offered by LiSP:
  - Cart layout (buttons matrix) suited for touchscreens
  - List layout suited for keyboards
  - Large media-format support thanks to GStreamer
  - Realtime sound effects: equalization, pitch shift, speed control,
    compression.
  - Peak and ReplayGain normalization
  - Undo/Redo changes
  - Remote control over network, between two or more sessions
  - ArtNet Timecode (via OLA)
  - MIDI support for cue triggering
  - MIDI cues (send MIDI messages)
  - Multi-language support
